{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ block.super }} || Home {% endblock %}

{% block content %}

	<!-- Breadcrumb section -->
	<div class="site-breadcrumb">
		<div class="container">
			<a href="/"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-right"></i>
			<span>About Us</span>
		</div>
	</div>
	<!-- Breadcrumb section end -->


	<!-- About section -->
	<section class="about-section spad pt-0">
		<div class="container">
			<div class="section-title text-center">
				<h3>WELCOME TO GOLDEN GATE</h3>
				<p>Let children creative and make a different</p>
			</div>
			<div class="row">
				<div class="col-lg-6 about-text">
					<h5>About us</h5>
					<p>Lorem ipsum dolor sitdoni amet, consectetur dont adipis elite. Vivamus interdum ultrices augue. Aenean dos cursus lania. Duis et fringilla leonardo. Mauris mattis phare sem, debut curus risus viverra sed.</p>
					<h5 class="pt-4">Our history</h5>
					<p>Led at felis arcu. Integer lorem lorem, tincidunt eu congue et, mattis ut ante. Nami suscipit, lectus id efficitur ornare, leo libero convalis nulla, vitae dignissim .</p>
					<ul class="about-list">
						<li><i class="fa fa-check-square-o"></i> Golden Gate school organise teaching and research into individual subjects.</li>
						<li><i class="fa fa-check-square-o"></i> The school is rich in history - its famous buildings attract visitors.</li>
						<li><i class="fa fa-check-square-o"></i> 20 years of people, and achievements that continue to transform.</li>
						<li><i class="fa fa-check-square-o"></i> The school's core values are as follows:freedom of thought.</li>
					</ul>
				</div>
				<div class="col-lg-6 pt-5 pt-lg-0">
					<img src="{% static 'img/about.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- About section end-->


	<!-- Testimonial section  -->
	<section class="testimonial-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>OUR TEACHER'S</h3>
				<p>The professional standards and expectations</p>
			</div>
			<div class="testimonial-slider owl-carousel">
				{% for teacher in teachers %}
				<div class="ts-item">

					<div class="row">
							{% if teacher %}
								<div class="col-md-3">
									<div class="ts-author-pic set-bg" data-setbg="{{ teacher.user.profile_image.url }}" style="background-image: url(&quot;img/member/5.jpg&quot;);"></div>
								</div>
								<div class="col-md-9 ts-text">
									<p>“ I want to let you know that I am very absolutely delighted with the pupils, student and parents of Golden Gate school. ”</p>
									<h5>{{ teacher.title }}. {{ teacher.user.first_name }} {{ teacher.user.last_name }}</h5>
									<span>Teacher</span>
								</div>
							{% else %}
								processing.... Not found 🐽
							{% endif %}
					</div>

				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- Testimonial section end -->
{% endblock %}