{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ block.super }} || Home {% endblock %}

{% block content %}
	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">

			<div class="hs-item set-bg" data-setbg="{% static 'img/hero-slider/2.jpg' %}">
				<div class="hs-text">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<div class="hs-subtitle">MOTTO: {{ titless }} The fear of God</div>
								<h2 class="hs-title">We are Golden Gate School.</h2>
								<p class="hs-des">We believe in quality education</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="hs-item set-bg" data-setbg="{% static 'img/hero-slider/1.jpg' %}">
				<div class="hs-text">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<h2 class="hs-title">knowledge pays the best interest.</h2>
								<p class="hs-des">Education is power</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->


	<!-- Counter section
	<section class="counter-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-6">
					<div class="big-icon">
						<i class="fa fa-graduation-cap"></i>
					</div>
					<div class="counter-content">
						<h2>accredited:</h2>
					</div>
				</div>
				<div class="col-lg-5 col-md-6">
					<div class="">
						<div class="counter-item">WAEC LOGO</div>
						<div class="counter-item">NECO LOGO</div>
						<div class="counter-item">GCE LOGO</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	 Counter section end -->


	<!-- Services section -->
	<section class="service-section spad">
		<div class="container services">
			<div class="section-title text-center">
				<h3>Amazing Experience</h3>
				<p>We prepare you for the future</p>
			</div>
			<div class="row">
				<div class="col-lg-6 col-sm-8 service-item">
					<div class="service-icon">
						<img src="{% static 'img/services-icons/2.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Great Facility</h4>
						<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue. Aenean dos cursus lania.</p>
					</div>
				</div>
				<div class="col-lg-6 col-sm-8 service-item">
					<div class="service-icon">
						<img src="{% static 'img/services-icons/3.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Activity Hub</h4>
						<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue. Aenean dos cursus lania.</p>
					</div>
				</div>
				<div class="col-lg-6 col-sm-8 service-item">
					<div class="service-icon">
						<img src="{% static 'img/services-icons/4.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Fully Qualified Teachers</h4>
						<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue. Aenean dos cursus lania.</p>
					</div>
				</div>
				<div class="col-lg-6 col-sm-8 service-item">
					<div class="service-icon">
						<img src="{% static 'img/services-icons/6.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Chemistry Lab</h4>
						<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue. Aenean dos cursus lania.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->


	<!-- Enroll section -->
	<section class="enroll-section spad set-bg" data-setbg="{% static 'img/enroll-bg.jpg' %}pg' %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="section-title text-white">
						<h3>ENROLL NOW</h3>
						<p>We provide</p>
					</div>
					<div class="enroll-list text-white">
						<div class="enroll-list-item">
							<span>1</span>
							<h5>Supervision</h5>
							<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue.</p>
						</div>
						<div class="enroll-list-item">
							<span>2</span>
							<h5>Counselling</h5>
							<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue.</p>
						</div>
						<div class="enroll-list-item">
							<span>3</span>
							<h5>Security</h5>
							<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 offset-lg-1 p-lg-0 p-4">
					<img src="{% static 'img/encroll-img.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- Enroll section end -->


	<!-- Courses section -->
	<section class="courses-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>"Golden Gate school shaped me to becoming a disciplined and zelious student"</h3>
				<p>- past student</p>
			</div>
		</div>
	</section>
	<!-- Courses section end-->


	<!-- Fact section -->
	<section class="fact-section spad set-bg" data-setbg="{% static 'img/fact-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 fact">
					<div class="fact-icon">
						<i class="ti-crown"></i>
					</div>
					<div class="fact-text">
						<h2>15</h2>
						<p>YEARS</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 fact">
					<div class="fact-icon">
						<i class="ti-briefcase"></i>
					</div>
					<div class="fact-text">
						<h2>{{ teacher_instance }}</h2>
						<p>TEACHERS</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 fact">
					<div class="fact-icon">
						<i class="ti-user"></i>
					</div>
					<div class="fact-text">
						<h2>{{ student_instance }}</h2>
						<p>STUDENTS</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 fact">
					<div class="fact-icon">
						<i class="ti-pencil-alt"></i>
					</div>
					<div class="fact-text">
						<h2>20+</h2>
						<p>SUBJECTS</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Fact section end-->


	<!-- Event section -->
	<section class="event-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>OUR RECENT EVENTS</h3>
				<p>Our department  initiated a series of events</p>
			</div>
			<div class="row">
				<div class="col-md-6 event-item">
					<div class="event-thumb">
						<img src="{% static 'img/event/1.jpg' %}" alt="">
						<div class="event-date">
							<span>24 Mar 2018</span>
						</div>
					</div>
					<div class="event-info">
						<h4>Holiday Coaching</h4>
						<p><i class="fa fa-calendar-o"></i> 08:00 AM - 10:00 AM <i class="fa fa-map-marker"></i>School building</p>
					</div>
				</div>
				<div class="col-md-6 event-item">
					<div class="event-thumb">
						<img src="{% static 'img/event/2.jpg' %}" alt="">
						<div class="event-date">
							<span>22 Mar 2018</span>
						</div>
					</div>
					<div class="event-info">
						<h4>Term Resumption</h4>
						<p><i class="fa fa-calendar-o"></i> 08:00 AM - 10:00 AM <i class="fa fa-map-marker"></i>School building</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Event section end -->


	<!-- Gallery section -->
	<div class="gallery-section">
		<div class="gallery">
			<div class="grid-sizer"></div>
			<div class="gallery-item gi-big set-bg" data-setbg="{% static 'img/gallery/1.jpg' %}">
				<a class="img-popup" href="{% static 'img/gallery/1.jpg' %}"><i class="ti-plus"></i></a>
			</div>
			<div class="gallery-item set-bg" data-setbg="{% static 'img/gallery/2.jpg' %}">
				<a class="img-popup" href="{% static 'img/gallery/2.jpg' %}"><i class="ti-plus"></i></a>
			</div>
			<div class="gallery-item set-bg" data-setbg="{% static 'img/gallery/3.jpg' %}">
				<a class="img-popup" href="{% static 'img/gallery/3.jpg' %}"><i class="ti-plus"></i></a>
			</div>
			<div class="gallery-item gi-long set-bg" data-setbg="{% static 'img/gallery/5.jpg' %}">
				<a class="img-popup" href="{% static 'img/gallery/5.jpg' %}"><i class="ti-plus"></i></a>
			</div>
			<div class="gallery-item gi-big set-bg" data-setbg="{% static 'img/gallery/8.jpg' %}">
				<a class="img-popup" href="{% static 'img/gallery/8.jpg' %}"><i class="ti-plus"></i></a>
			</div>
			<div class="gallery-item gi-long set-bg" data-setbg="{% static 'img/gallery/4.jpg' %}">
				<a class="img-popup" href="{% static 'img/gallery/4.jpg' %}"><i class="ti-plus"></i></a>
			</div>
			<div class="gallery-item set-bg" data-setbg="{% static 'img/gallery/6.jpg' %}">
				<a class="img-popup" href="{% static 'img/gallery/6.jpg' %}"><i class="ti-plus"></i></a>
			</div>
			<div class="gallery-item set-bg" data-setbg="{% static 'img/gallery/7.jpg' %}">
				<a class="img-popup" href="{% static 'img/gallery/7.jpg' %}"><i class="ti-plus"></i></a>
			</div>
		</div>
	</div>
	<!-- Gallery section -->


	<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>LATEST NEWS</h3>
				<p>Get latest News patterning our institution</p>
			</div>
			<div class="row">
				<div class="col-xl-6">
					<div class="blog-item">
						<div class="blog-thumb set-bg" data-setbg="{% static 'img/blog/1.jpg'' %} %}"></div>
						<div class="blog-content">
							<h4>Parents who try to be their children’s best friends</h4>
							<div class="blog-meta">
								<span><i class="fa fa-calendar-o"></i> 24 Mar 2018</span>
								<span><i class="fa fa-user"></i> Owen Wilson</span>
							</div>
							<p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet. Aenean interdus mid vitae sed accumsan...</p>
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="blog-item">
						<div class="blog-thumb set-bg" data-setbg="{% static 'img/blog/2.jpg'' %} %}"></div>
						<div class="blog-content">
							<h4>Graduations could be delayed as external examiners</h4>
							<div class="blog-meta">
								<span><i class="fa fa-calendar-o"></i> 23 Mar 2018</span>
								<span><i class="fa fa-user"></i> Owen Wilson</span>
							</div>
							<p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet. Aenean interdus mid vitae sed accumsan...</p>
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="blog-item">
						<div class="blog-thumb set-bg" data-setbg="{% static 'img/blog/3.jpg'' %} %}"></div>
						<div class="blog-content">
							<h4>Private schools adopt a Ucas style application system</h4>
							<div class="blog-meta">
								<span><i class="fa fa-calendar-o"></i> 24 Mar 2018</span>
								<span><i class="fa fa-user"></i> Owen Wilson</span>
							</div>
							<p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet. Aenean interdus mid vitae sed accumsan...</p>
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="blog-item">
						<div class="blog-thumb set-bg" data-setbg="{% static 'img/blog/4.jpg'' %} %}"></div>
						<div class="blog-content">
							<h4>Cambridge digs in at the top of university league table</h4>
							<div class="blog-meta">
								<span><i class="fa fa-calendar-o"></i> 23 Mar 2018</span>
								<span><i class="fa fa-user"></i> Owen Wilson</span>
							</div>
							<p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet. Aenean interdus mid vitae sed accumsan...</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog section -->


	<!-- Newsletter section -->
	<section class="newsletter-section">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-lg-7">
					<div class="section-title mb-md-0">
					<h3>NEWSLETTER</h3>
					<p>We employ all parents and student to kindly subscibe, to get our latest update</p>
				</div>
				</div>
				<div class="col-md-7 col-lg-5">
					<form class="newsletter">
						<input type="text" placeholder="Enter your email">
						<button class="site-btn">SUBSCRIBE</button>
					</form>
				</div>
			</div>
		</div>
	</section>
<!-- Newsletter section end -->

{% endblock content %}