{% load staticfiles %}

<div style="display: flex; justify-content: center">

        <div style="background:rgb(144, 198, 230); height: 60px; width: 100px; border-radius: 10px;color: white; border: 2px sold rgb(62, 62, 180); margin: 20px;padding:5px;">
            <p style="text-align: center;">
                <img style="max-width: 30px" src="{% static 'img/portal/student.png' %}" alt=""><br>{{titles}} {{instance}}

            </p>
        </div>

        <div style="background:rgb(144, 198, 230); height: 60px; width: 100px; border-radius: 10px;color: white; border: 2px sold rgb(62, 62, 180); margin: 20px;padding:5px;">
            <p style="text-align: center;">
                <img style="max-width: 30px" src="{% static 'img/portal/teacher.png' %}" alt=""><br> 30
            </p>
        </div>
</div>